<ul>
  <% if ::Refinery::News::Admin::ItemsController.searchable? %>
      <li>
        <%= render '/refinery/admin/search', :url => refinery.news_admin_items_path %>
      </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_news_admin_item_path,
                :class => "add_icon" %>
  </li>
</ul>
