<div class='wym_skin_refinery page_part'>
  <div >
    <span class='clearfix label_inline_with_link'></span>
  </div>

  <div id="news_wym_editation" class='wym_box field ' style="height: 300px;">

    <div class='page_part' id='news_part_1'>
      <%= hidden_field_tag "news[parts_attributes][1][title]" %>
      <%= text_area_tag    "news[parts_attributes][1][body]", :rows => 20, :class => 'wymeditor widest' %>
    </div>


  </div>
</div>